* {
  margin: 0;
  padding: 0;
  outline: none;
  box-sizing: border-box;
}

body {
  font-family: "DM Serif Display";
  color: #292F36;
}

a {
  text-decoration: none;
  color: #292F36;
}

.header {
  padding-left: calc(50% - 600px);
  padding-right: calc(50% - 600px);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding-top: 44px;
  margin-bottom: 57px;
}
.header-left {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
}
.header-left__svg {
  width: 34px;
  height: 34px;
}
.header-left__text {
  font-size: 40px;
  letter-spacing: 0;
  text-align: left;
}
.header-right {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 40px;
}
.header-right__link {
  font-family: "Jost";
  font-size: 20px;
}
.header-right__link:hover {
  color: #CDA274;
}

.cover {
  padding-left: calc(50% - 600px);
  padding-right: calc(50% - 600px);
  margin-bottom: 96px;
}
.cover-content {
  background-image: url("/img/cover.png");
  height: 758px;
  background-repeat: no-repeat;
  padding: 208px 715px 208px 52px;
}
.cover-content__header {
  font-size: 65px;
  margin-bottom: 18px;
}
.cover-content__text {
  font-family: "Jost";
  font-size: 22px;
  color: #4D5053;
  margin-bottom: 21px;
}
.cover-content__button {
  border-radius: 18px;
  border: none;
  padding: 26px 49px 26px 48px;
  background-color: #292F36;
  color: #fff;
  font-family: "Jost";
  font-size: 18px;
  display: flex;
  gap: 10px;
  align-items: center;
}
.cover-content__button:hover {
  background-color: #4D5053;
  cursor: pointer;
}

.projects {
  padding-left: calc(50% - 600px);
  padding-right: calc(50% - 600px);
  margin-bottom: 96px;
}
.projects-header {
  width: 61%;
  margin: auto;
  margin-bottom: 93px;
}
.projects-header__head {
  font-size: 50px;
  text-align: center;
  margin-bottom: 8px;
}
.projects-header__text {
  font-family: "Jost";
  font-size: 22px;
  color: #4D5053;
  text-align: center;
}
.projects-catalog {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(525px, 1fr));
  -moz-column-gap: 104px;
       column-gap: 104px;
  row-gap: 56px;
}
.projects-catalog .projects-item__img {
  margin-bottom: 24px;
}
.projects-catalog .projects-item__content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
}
.projects-catalog .projects-item__content .projects-item__textcontent .projects-item__header {
  font-size: 25px;
  margin-bottom: 4px;
}
.projects-catalog .projects-item__content .projects-item__textcontent .projects-item__text {
  font-family: "Jost";
  font-size: 22px;
  color: #4D5053;
}
.projects-catalog .projects-item__content .projects-item__arrow {
  position: absolute;
  right: 30px;
}
.projects-catalog .projects-item__content .projects-item__circle:hover {
  cursor: pointer;
}
.projects-catalog .projects-item__content .projects-item__circle:hover circle {
  fill: #CDA274;
}

.statistic {
  background-color: #F4F0EC;
  margin-bottom: 96px;
}
.statistic-board {
  padding-left: calc(50% - 600px);
  padding-right: calc(50% - 600px);
  padding-top: 151px;
  padding-bottom: 151px;
  display: flex;
  justify-content: space-around;
}
.statistic-board .statistic-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
}
.statistic-board .statistic-item__header {
  font-size: 85px;
  color: #CDA274;
}
.statistic-board .statistic-item__text {
  font-family: "Jost";
  font-size: 22px;
  color: #4D5053;
}
.statistic-board .statistic-line {
  height: 130px;
  width: 1px;
  background-color: #CDA274;
}

.articles {
  padding-left: calc(50% - 600px);
  padding-right: calc(50% - 600px);
  margin-bottom: 96px;
}
.articles-header {
  margin: auto;
  width: 67%;
  margin-bottom: 52px;
}
.articles-header__head {
  font-size: 50px;
  text-align: center;
  margin-bottom: 12px;
}
.articles-header__text {
  font-family: "Jost";
  font-size: 22px;
  color: #4D5053;
  text-align: center;
}
.articles-content {
  display: flex;
  flex-direction: row;
  gap: 27px;
}
.articles-content .articles-item {
  border: 1px solid #E7E7E7;
  border-radius: 62px;
  padding: 21px 21px 37px 21px;
  position: relative;
}
.articles-content .articles-item__img {
  margin-bottom: 21px;
}
.articles-content .articles-item__rectangle {
  width: 129px;
  height: 41px;
  position: absolute;
  background-color: #fff;
  border-radius: 8px 8px 8px 0;
  font-family: "Jost";
  font-size: 16px;
  color: #4D5053;
  text-align: center;
  padding-top: 7px;
  top: 248px;
  left: 41px;
}
.articles-content .articles-item__content .articles-item__header {
  font-size: 25px;
  margin-bottom: 30px;
  margin-right: 35px;
}
.articles-content .articles-item__content__wrapper {
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.articles-content .articles-item__content__wrapper .articles-item__arrow {
  position: absolute;
  right: 22px;
}
.articles-content .articles-item__content__wrapper .articles-item__text {
  font-family: "Jost";
  font-size: 16px;
  color: #4D5053;
}
.articles-content .articles-item:hover {
  background-color: #E7E7E7;
  cursor: pointer;
}
.articles-content .articles-item:hover svg circle {
  fill: #fff;
}

.footer {
  padding-left: calc(50% - 600px);
  padding-right: calc(50% - 600px);
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin-bottom: 96px;
}
.footer-left__logo {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
  margin-bottom: 18px;
}
.footer-left__text {
  font-family: "Jost";
  font-size: 22px;
  color: #4D5053;
  margin-bottom: 31px;
}
.footer-left__icons {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 54px;
}
.footer-center {
  display: flex;
  flex-direction: column;
  gap: 30px;
  padding-left: 25%;
}
.footer-center__header {
  font-size: 25px;
}
.footer-center__item {
  font-family: "Jost";
  font-size: 22px;
  color: #4D5053;
}
.footer-right {
  display: flex;
  justify-content: flex-end;
}
.footer-right__wrapper {
  width: 65%;
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.footer-right__wrapper .footer-right__header {
  font-size: 25px;
}
.footer-right__wrapper .footer-right__item {
  font-family: "Jost";
  font-size: 22px;
  color: #4D5053;
}/*# sourceMappingURL=style.css.map */